//= templates/head.html
<div class="container">
	<div class="top-panel">
		<button type="button" class="button preview-btn">Preview</button>
		<button type="button" class="button save-btn">Save</button>
		<button type="button" class="button continue-btn">Save and continue</button>
	</div>
	<div class="grid-4">
		<div class="cell">
			<div class="group">
				<label for="text_01">Regular input</label>
				<small>This is hint text for input.</small>
				<input id="text_01" type="text">
			</div>
			<div class="group">
				<label for="text_02">Disabled input</label>
				<small>This is hint text for input.</small>
				<input id="text_02" type="text" disabled="">
			</div>
			<div class="group">
				<label for="select_01">Select</label>
				<small>This is hint text for input.</small>
				<select id="select_01" name="select">
					<option value="" disabled="" selected="">Placeholder</option>
					<option value="">Action event 1</option>
					<option value="">Action event 2</option>
					<option value="">Action event 3</option>
					<option value="">Action event 4</option>
				</select>
			</div>
		</div>
	</div>
</div>
//= templates/footer.html
