//= templates/head.html
<div class="container mig-tutorial">
	<h2 class="underline">Markup grid system</h1>
	<p>Inspect source code, to use grid system</p> 
	<h3 class="underline">grid-12</h2>
	<div class="grid-12">
		<div class="cell-2">
			<span>cell-2</span>
		</div>
		<div class="cell-2">
			<span>cell-2</span>
		</div>
		<div class="cell-2">
			<span>cell-2</span>
		</div>
		<div class="cell-6">
			<span>cell-6</span>
		</div>
	</div>
	<div class="grid-12">
		<div class="cell-5">
			<span>cell-5</span>
		</div>
		<div class="cell-7">
			<span>cell-7</span>
		</div>
	</div>
	<div class="grid-12">
		<div class="cell-3">
			<span>cell-3</span>
		</div>
		<div class="cell-3">
			<span>cell-3</span>
		</div>
		<div class="cell-3">
			<span>cell-3</span>
		</div>
		<div class="cell-3">
			<span>cell-3</span>
		</div>
	</div>
	<div class="grid-12">
		<div class="cell-4">
			<span>cell-4</span>
		</div>
		<div class="cell-6">
			<span>cell-6</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
	</div>
	<br>
	<h3 class="underline">grid-5</h2>
	<div class="grid-5">
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
	</div>
	<div class="grid-5">
		<div class="cell-2">
			<span>cell-2</span>
		</div>
		<div class="cell-3">
			<span>cell-3</span>
		</div>
	</div>
	<div class="grid-5">
		<div class="cell-4">
			<span>cell-4</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
	</div>
	<br>
	<h3 class="underline">grid-4</h2>
	<div class="grid-4">
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
	</div>
	<div class="grid-4">
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-3">
			<span>cell-3</span>
		</div>
	</div>
	<div class="grid-4">
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-2">
			<span>cell-2</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
	</div>
	<br>
	<h3 class="underline">grid-3</h2>
	<div class="grid-3">
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
	</div>
	<div class="grid-3">
		<div class="cell-2">
			<span>cell-2</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
	</div>
	<br>
	<h3 class="underline">grid-2</h2>
	<div class="grid-2">
		<div class="cell-1">
			<span>cell-1</span>
		</div>
		<div class="cell-1">
			<span>cell-1</span>
		</div>
	</div>
	<div class="grid-2">
		<div class="cell-2">
			<span>cell-2</span>
		</div>
	</div>
</div>	
//= templates/footer.html
