<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<title>EnrichX</title>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://file.myfontastic.com/moSRyvkVpCWnTBx8bz3syW/icons.css" rel="stylesheet">


    <script src="../js/components.js"></script>
    <script src='../../components/tinymce/js/tinymce/tinymce.min.js'></script>
</head>
<body>
<ul class="mig-breadcrumbs">
</ul>
<div class="container">
	<div class="grid">
		<div class="cell">
			<h4 class="underline">multiple</h4>
			<div class="dropper-container" data-quantity="multiple" data-type="image">
				<input class="dropper-hidden" type="hidden">
				<div class="dropper" data-id="00001">
					<div class="dropped-asset">
						<div class="dropped-overlay">
							<button type="button" class="button remove-dropped-btn"><i class="icon-close"></i></button>
							<p class="dropped-name">asset-image.jpg</p>
						</div>
						<img src="../img/tmp/asset-image.jpg" class="dropped-image">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="cell">
			<h4 class="underline">8 images</h2>
			<div class="dropper-container" data-type="image" data-quantity="4" data-width="150" data-height="150">
				<input class="dropper-hidden" type="hidden">
				<div class="dropper" data-id="00001">
					<div class="dropped-asset">
						<div class="dropped-overlay">
							<button type="button" class="button remove-dropped-btn"><i class="icon-close"></i></button>
							<p class="dropped-name">asset-image.jpg</p>
						</div>
						<img src="../img/tmp/asset-image.jpg" class="dropped-image">
					</div>
				</div>
				<div class="dropper" data-id="00002">
					<div class="dropped-asset">
						<div class="dropped-overlay">
							<button type="button" class="button remove-dropped-btn"><i class="icon-close"></i></button>
							<p class="dropped-name">asset-image-2.jpg</p>
						</div>
						<img src="../img/tmp/asset-image-2.jpg" class="dropped-image">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="cell">
			<h4 class="underline">Video</h2>
			<div class="dropper-container" data-type="video" data-quantity="2" data-width="200" data-height="200">
				<input class="dropper-hidden" type="hidden">
				<div class="dropper" data-id="00003">
					<div class="dropped-asset">
						<div class="dropped-overlay">
							<button type="button" class="button remove-dropped-btn"><i class="icon-close"></i></button>
							<p class="dropped-name">asset_video_01.mp4</p>
						</div>
						<img src="../img/controls/asset-video.svg" class="dropped-image">
						<span class="dropped-format">mp4</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="cell">
			<h4 class="underline">File</h2>
			<div class="dropper-container" data-type="file" data-quantity="multiple">
				<input class="dropper-hidden" type="hidden">
				<div class="dropper" data-id="00005">
					<div class="dropped-asset">
						<div class="dropped-overlay">
							<button type="button" class="button remove-dropped-btn"><i class="icon-close"></i></button>
							<p class="dropped-name">asset-file.pdf</p>
						</div>
						<img src="../img/controls/asset-file.svg" class="dropped-image">
						<span class="dropped-format">pdf</span>
					</div>
				</div>
				<div class="dropper" data-type="video" data-dropped="true">
					<div class="dropped-asset">
						<div class="dropped-overlay">
							<button type="button" class="button remove-dropped-btn"><i class="icon-close"></i></button>
							<p class="dropped-name">asset_video_01.mp4</p>
						</div>
						<img src="../img/controls/asset-video.svg" class="dropped-image">
						<span class="dropped-format">mp4</span>
					</div>
				</div>
				<div class="dropper" data-type="image" data-id="00001">
					<div class="dropped-asset">
						<div class="dropped-overlay">
							<button type="button" class="button remove-dropped-btn"><i class="icon-close"></i></button>
							<p class="dropped-name">asset-image.jpg</p>
						</div>
						<img src="../img/tmp/asset-image.jpg" class="dropped-image">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="cell">
			<h4 class="underline">Template</h2>
			<div class="dropper-container" data-type="template" data-quantity="1" data-width="600" data-height="200">
				<input class="dropper-hidden" type="hidden">
				<div class="dropper" data-id="00003">
				</div>
			</div>
		</div>
	</div>
</div>
	<script src="../js/script.js"></script>
</body>
</html>