<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<title>EnrichX</title>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://file.myfontastic.com/moSRyvkVpCWnTBx8bz3syW/icons.css" rel="stylesheet">


    <script src="../js/components.js"></script>
    <script src='../../components/tinymce/js/tinymce/tinymce.min.js'></script>
</head>
<body>
<ul class="mig-breadcrumbs">
</ul>
<div class="container">
	<div class="grid">
		<div class="cell">
			<div class="widget">
				<header>Assets templates (5)</header>
				<section class="action-panel">
					<div class="action-group">
						<label for="">Sort by:</label>
						<select name="" id="">
							<option value="">Data created</option>
							<option value="">Data created</option>
							<option value="">Data created</option>
							<option value="">Data created</option>
						</select>
						<input type="search" placeholder="Search...">
					</div>
					<div class="action-group">
						<button id="selection-btn" type="button" class="button blue-btn">Select all</button>
						<input id="selection-hidden" type="hidden">
						<select name="select" >
							<option value="">Add selected images to clipboard</option>
							<option value="">Action event 2</option>
							<option value="">Action event 3</option>
							<option value="">Action event 4</option>
						</select>
					</div>
				</section>
				<section>
					<ul class="asset-list">
						<li class="asset" data-type="template" data-id="00013">
							<span class="asset-selection">
								<input id="asset-checkbox-1" class="asset-checkbox" type="checkbox"><label for="asset-checkbox-1"></label>
							</span>
							<figure class="asset-view">
								<img class="asset-image" src="../img/assets-templates/template.png" alt="">
							</figure>
							<div class="asset-details">
								<p class="asset-name">Template name</p>
								<p class="asset-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero alias consequuntur ipsa iusto enim explicabo, tenetur quas sed fugiat fugit labore unde, dolores repellat maxime earum doloremque libero consequatur modi!
								</p>
								<button type="button" class="button small-btn green-btn" onclick="parent.migAsset.createAsset(this);">Add to clipboard</button>
								<button type="button" class="button small-btn gray-btn float-right">Delete</button>
							</div>
						</li>
						<li class="asset" data-type="template" data-id="00013">
							<span class="asset-selection">
								<input id="asset-checkbox-1" class="asset-checkbox" type="checkbox"><label for="asset-checkbox-1"></label>
							</span>
							<figure class="asset-view">
								<img class="asset-image" src="../img/assets-templates/template.png" alt="">
							</figure>
							<div class="asset-details">
								<p class="asset-name">Template name</p>
								<p class="asset-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero alias consequuntur ipsa iusto enim explicabo, tenetur quas sed fugiat fugit labore unde, dolores repellat maxime earum doloremque libero consequatur modi!
								</p>
								<button type="button" class="button small-btn green-btn" onclick="parent.migAsset.createAsset(this);">Add to clipboard</button>
								<button type="button" class="button small-btn gray-btn float-right">Delete</button>
							</div>
						</li>
						<li class="asset" data-type="template" data-id="00013">
							<span class="asset-selection">
								<input id="asset-checkbox-1" class="asset-checkbox" type="checkbox"><label for="asset-checkbox-1"></label>
							</span>
							<figure class="asset-view">
								<img class="asset-image" src="../img/assets-templates/template.png" alt="">
							</figure>
							<div class="asset-details">
								<p class="asset-name">Template name</p>
								<p class="asset-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero alias consequuntur ipsa iusto enim explicabo, tenetur quas sed fugiat fugit labore unde, dolores repellat maxime earum doloremque libero consequatur modi!
								</p>
								<button type="button" class="button small-btn green-btn" onclick="parent.migAsset.createAsset(this);">Add to clipboard</button>
								<button type="button" class="button small-btn gray-btn float-right">Delete</button>
							</div>
						</li>
						<li class="asset" data-type="template" data-id="00013">
							<span class="asset-selection">
								<input id="asset-checkbox-1" class="asset-checkbox" type="checkbox"><label for="asset-checkbox-1"></label>
							</span>
							<figure class="asset-view">
								<img class="asset-image" src="../img/assets-templates/template.png" alt="">
							</figure>
							<div class="asset-details">
								<p class="asset-name">Template name</p>
								<p class="asset-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero alias consequuntur ipsa iusto enim explicabo, tenetur quas sed fugiat fugit labore unde, dolores repellat maxime earum doloremque libero consequatur modi!
								</p>
								<button type="button" class="button small-btn green-btn" onclick="parent.migAsset.createAsset(this);">Add to clipboard</button>
								<button type="button" class="button small-btn gray-btn float-right">Delete</button>
							</div>
						</li>
						<li class="asset" data-type="template" data-id="00013">
							<span class="asset-selection">
								<input id="asset-checkbox-1" class="asset-checkbox" type="checkbox"><label for="asset-checkbox-1"></label>
							</span>
							<figure class="asset-view">
								<img class="asset-image" src="../img/assets-templates/template.png" alt="">
							</figure>
							<div class="asset-details">
								<p class="asset-name">Template name</p>
								<p class="asset-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero alias consequuntur ipsa iusto enim explicabo, tenetur quas sed fugiat fugit labore unde, dolores repellat maxime earum doloremque libero consequatur modi!
								</p>
								<button type="button" class="button small-btn green-btn" onclick="parent.migAsset.createAsset(this);">Add to clipboard</button>
								<button type="button" class="button small-btn gray-btn float-right">Delete</button>
							</div>
						</li>
						<li class="asset" data-type="template" data-id="00013">
							<span class="asset-selection">
								<input id="asset-checkbox-1" class="asset-checkbox" type="checkbox"><label for="asset-checkbox-1"></label>
							</span>
							<figure class="asset-view">
								<img class="asset-image" src="../img/assets-templates/template.png" alt="">
							</figure>
							<div class="asset-details">
								<p class="asset-name">Template name</p>
								<p class="asset-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero alias consequuntur ipsa iusto enim explicabo, tenetur quas sed fugiat fugit labore unde, dolores repellat maxime earum doloremque libero consequatur modi!
								</p>
								<button type="button" class="button small-btn green-btn" onclick="parent.migAsset.createAsset(this);">Add to clipboard</button>
								<button type="button" class="button small-btn gray-btn float-right">Delete</button>
							</div>
						</li>
					</ul>

				</section>
			</div>
		</div>
	</div>
</div>
<div class="backdrop">
	<div class="modal modal-asset" id="image-modal">
		<button type="button" class="modal-close-btn">
			<i class="icon-close"></i>
		</button>
		<div class="asset-view">
			<img src="../img/tmp/modal-image.jpg" alt="">
		</div>
		<div class="asset-panel">
			<button type="button" class="button text-gray-btn modal-close-btn">Cancel</button>
			<button type="button" class="button text-green-btn">Save</button>
			<button type="button" class="button text-red-btn">Delete permanently</button>
		</div>
		<div class="grid-2 asset-details">
			<div>
				<label class="group">
					Image title
					<small>Titles should not be etiam porta.</small>
					<input type="text">
				</label>
				<label class="group">
					Alt text
					<small>This is shown aenean ornare sit malesuada.</small>
					<textarea rows="2"></textarea>
				</label>
			</div>
			<div>
				<p><strong>Uploaded on:</strong> Nov 20, 2015 @ 14:25</p>
				<p><strong>File type:</strong> JPEG</p>
				<p><strong>File size:</strong> 310kb</p>
				<p><strong>File name:</strong> blanco-image-name.jpeg</p>
				<p><strong>Dimensions:</strong> 600 x 700px</p>
				<p><strong>Uploaded on:</strong> Nov 20, 2015 @ 14:25</p>
				<p><strong>URL:</strong> <a href="#">http://blanco.com/assets/12301-sadasd123-small.jpg</a> </p>
			</div>
		</div>
	</div>
</div>
	<script src="../js/script.js"></script>
</body>
</html>