<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<title>EnrichX</title>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://file.myfontastic.com/moSRyvkVpCWnTBx8bz3syW/icons.css" rel="stylesheet">


    <script src="../js/components.js"></script>
    <script src='../../components/tinymce/js/tinymce/tinymce.min.js'></script>
</head>
<body>
<ul class="mig-breadcrumbs">
</ul>
<div class="container">
	<div class="grid-3">
		<div>
			<h3 class="underline">Buttons</h3>
			<div class="grid-2">
				<div>
					<button type="button" class="button blue-btn">Blue button</button><br/><br/>
					<button type="button" class="button preview-btn">Preview</button><br/><br/>
					<button type="button" class="button publish-btn">Publish</button><br/><br/>
					<button type="button" class="button reset-btn">Reset</button><br/><br/>
					<button type="button" class="button upload-btn">Upload</button><br/><br/>
					<button type="button" class="button edit-btn">Edit</button><br/><br/>

				</div>
				<div>
					<button type="button" class="button green-btn">Green button</button><br/><br/>
					<button type="button" class="button continue-btn">Save and continue</button><br/><br/>
					<button type="button" class="button export-btn">Export</button><br/><br/>
					<button type="button" class="button save-btn">Save</button><br/><br/>
					<button type="button" class="button add-btn">Add</button><br/><br/>
				</div>
			</div>
		</div>
		<div>
			<h3 class="underline">Inputs and selects</h3>
			<select name="select" >
				<option value="" disabled="" selected="">Placeholder</option>
				<option value="">Action event 1</option>
				<option value="">Action event 2</option>
				<option value="">Action event 3</option>
				<option value="">Action event 4</option>
			</select><br><br>
			<input type="text" placeholder="Placeholder"><br><br>
			<input type="text" value="Disabled" disabled=""><br><br>
			<input type="search" placeholder="Search..."><br><br>
			<textarea name="textarea" placeholder="Placeholder" id="" cols="46" rows="6"></textarea>
		</div>
		<div>
			<h3 class="underline">Checkboxes and Radiobuttons</h3>
			<div class="grid-2">
				<div>
					<input id="checkbox1" type="checkbox" checked><label for="checkbox1">Checkbox 1</label><br/><br/>
					<input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label><br/><br/>
					<input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label><br/><br/>
					<input id="checkbox4" type="checkbox"><label for="checkbox4">Checkbox 4</label><br/><br/>
				</div>
				<div>
					<input id="radio1" type="radio" name="radio" checked><label for="radio1">Radiobutton 1</label><br/><br/>
					<input id="radio2" type="radio" name="radio"><label for="radio2">Radiobutton 2</label><br/><br/>
					<input id="radio3" type="radio" name="radio"><label for="radio3">Radiobutton 3</label><br/><br/>
					<input id="radio4" type="radio" name="radio"><label for="radio4">Radiobutton 4</label><br/><br/>
				</div>
			</div>	
			
		</div>
	</div>
</div>

	<script src="../js/script.js"></script>
</body>
</html>