<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<title>EnrichX</title>

    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/components.js"></script>
</head>
<body>
<div id="login-page">
	<div class="login-form">
		<img src="../img/main-logo-black.svg" alt="" class="main-logo">
		<p class="title"><span class="greeting-text"></span>please login to start</p>
		<div class="form-group error">
	        <input id="txtLogin" name="txtLogin" placeholder="Username" type="text" autocomplete="off">
	        <p class="error">We can’t find that username, please check and try again</p>
	    </div>
	    <div class="form-group">
	        <input id="txtPassword" name="txtPassword" placeholder="Password" type="password" autocomplete="off">
	    </div>
	    <button id="btnLogin" class="button green-btn" type="submit">Login</button>
	    <a href="#" class="link-btn">Forgotten your password?</a>
	</div>
</div>
 	<script src="../js/main.js"></script>
</body>
</html>