<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<title>EnrichX</title>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://file.myfontastic.com/moSRyvkVpCWnTBx8bz3syW/icons.css" rel="stylesheet">


    <script src="../js/components.js"></script>
    <script src='../../components/tinymce/js/tinymce/tinymce.min.js'></script>
</head>
<body>
<ul class="mig-breadcrumbs">
</ul>
<div class="container">
	<div class="grid-3">
		<div class="cell-1">
			<div class="widget">
				<header>Filter Best Selling Products</header>
				<div class="form-table">
					<div class="grid-4">
						<div class="cell-1">Region</div>
						<div class="cell-2">
							<select name="select">
								<option value="" disabled="" selected="">Placeholder</option>
								<option value="">Action event 1</option>
								<option value="">Action event 2</option>
								<option value="">Action event 3</option>
								<option value="">Action event 4</option>
							</select></div>
						<div class="cell-1"></div>
					</div>
					<div class="grid-4">
						<div class="cell-1">Period</div>
						<div class="cell-2">
							<select name="select">
								<option value="" disabled="" selected="">Placeholder</option>
								<option value="">Action event 1</option>
								<option value="">Action event 2</option>
								<option value="">Action event 3</option>
								<option value="">Action event 4</option>
							</select>
						</div>
						<div class="cell-1"></div>
					</div>
					<div class="grid-4">
						<div class="cell-1">From</div>
						<div class="cell-2">
							<div class="datepicker-form">
								<input type="text" id="datepicker1">
								<label for="datepicker1"><i class="icon-calendar"></i></label>
							</div>
						</div>
					</div>
					<div class="grid-4">
						<div class="cell-1">To</div>
						<div class="cell-2">
							<div class="datepicker-form">
								<input type="text" id="datepicker2">
								<label for="datepicker2"><i class="icon-calendar"></i></label>
							</div>
						</div>
					</div>
					<div class="grid-4 align-center">
						<div class="cell-2">
							<button type="button" class="button green-btn">Generate report</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="cell">
			<div class="float-right">
				<h6>Export as:</h6>
				<select name="" id="">
					<option value="">CSV</option>
					<option value="">Option 1</option>
					<option value="">Option 1</option>
					<option value="">Option 1</option>
					<option value="">Option 1</option>
				</select>
				<button type="button" class="button export-btn">Export</button>
			</div>
		</div>
	</div>
	<div class="grid">
		<div class="cell">
			<div class="widget">
				<header>Best Selling Products (02/12/14 – 02/12/15)</header>
				<table class="table">
					<thead>
						<tr>
							<td>Period</td>
							<td>Product name</td>
							<td>SKU</td>
							<td>Quantity sold</td>
							<td>Unit Price</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="5">12/2014</td>
							<td>High-heeled faux suede boot</td>
							<td>99778676867004</td>
							<td>10,924</td>
							<td>€12.99</td>
						</tr>
						<tr>
							<td>Basic t-shirt</td>
							<td>99778676867004</td>
							<td>509</td>
							<td>€44.99</td>
						</tr>
						<tr>
							<td>Basic t-shirt</td>
							<td>99778676867004</td>
							<td>509</td>
							<td>€44.99</td>
						</tr>
						<tr>
							<td>Basic t-shirt</td>
							<td>99778676867004</td>
							<td>509</td>
							<td>€44.99</td>
						</tr>
						<tr>
							<td>Basic t-shirt</td>
							<td>99778676867004</td>
							<td>509</td>
							<td>€44.99</td>
						</tr>
						<tr>
							<td rowspan="3">12/2014</td>
							<td>High-heeled faux suede boot</td>
							<td>99778676867004</td>
							<td>10,924</td>
							<td>€12.99</td>
						</tr>
						<tr>
							<td>Basic t-shirt</td>
							<td>99778676867004</td>
							<td>509</td>
							<td>€44.99</td>
						</tr>
						<tr>
							<td>Basic t-shirt</td>
							<td>99778676867004</td>
							<td>509</td>
							<td>€44.99</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
	<script src="../js/script.js"></script>
</body>
</html>