<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<title>EnrichX</title>

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://file.myfontastic.com/moSRyvkVpCWnTBx8bz3syW/icons.css" rel="stylesheet">


    <script src="../js/components.js"></script>
    <script src='../../components/tinymce/js/tinymce/tinymce.min.js'></script>
</head>
<body>
<ul class="mig-breadcrumbs">
</ul>
<div class="container">
	<div class="grid-2">
		<div>
			<h3 class="underline">Headers</h3>
			<h1>Header 1</h1>
			<h2>Header 2</h2>
			<h3>Header 3</h3>
			<h4>Header 4</h4>
			<h5>Header 5</h5>
			<h6>Header 6</h6>
		</div>
		<div>
			<h3 class="underline">Text</h3>
			<p><span><</span><span>p</span><span>></span> Lorem ipsum dolor sit amet.</p>
			<p class="lead"><span><</span><span>p class="lead"</span><span>></span> Lorem ipsum dolor sit amet.</p>
			<p><span><</span><span>strong</span><span>></span> <strong>Lorem ipsum dolor sit amet.</strong></p>
			<p><span><</span><span>em</span><span>></span> <em>Lorem ipsum dolor sit amet.</em></p>
		</div>
	<div>
</div>

	<script src="../js/script.js"></script>
</body>
</html>